body {
    font-family: Arial, sans-serif;
    background: linear-gradient(90deg, hsla(238, 100%, 71%, 1) 0%, hsla(295, 100%, 84%, 1) 100%);
    display: flex;
    justify-content: center;
    padding-top: 50px;
    margin: 0;
}

.container {
    background: #ffffff25;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 50%;
    height: 80%;
    max-width: 500px;
    overflow: hidden;
    backdrop-filter: blur(4px);
}

h1 {
    text-align: center;
    color: #72008b;
    margin-bottom: 20px;
}

.input-area {
    display: flex;
    margin-bottom: 20px;
}

#input-tarefa {
    flex-grow: 1;
    padding: 10px;
    border: 2px solid #72008b;
    border-radius: 4px 0 0 4px;
    font-size: 16px;
}

#btn-adicionar {
    padding: 10px 15px;
    background-color: #4EA8DE;
    color: white;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.2s;
}

#btn-adicionar:hover {
    background-color: #4cae4c;
}

#lista-de-tarefas {
    list-style: none;
    padding: 0;
}

#lista-de-tarefas li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    margin-bottom: 8px;
    background-color: #e7c4ff;
    border-radius: 4px;
    cursor: pointer;
    /* Indica que é clicável para marcar */
    transition: background-color 0.2s;
}

/* ESTILO PARA TAREFA CONCLUÍDA */
#lista-de-tarefas li.concluida {
    background-color: #d9f7f3;
    text-decoration: line-through;
    color: #888;
}

#lista-de-tarefas li button {
    background-color: #f0ad4e;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.2s;
}

#lista-de-tarefas li button:hover {
    background-color: #eb931d;
}